Repository aniketmaurya/chitra, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, test, serve, cli, CI

.github/labeler.yml:

# Add 'docs' to any changes within 'docs' folder or any subfolders
# https://stackoverflow.com/questions/34691809/regex-match-folder-and-all-subfolders
documentation:
- docs/**/*

example:
- examples($|/.*)

test:
- tests/**/*

serve:
- chitra/serve($|/.*)

cli:
- chitra/cli($|/.*)

CI:
- .github/**/*
- "*.yaml"
- "*.yml"

imgaug dep
  .github/workflows/mkdocs_ci.yml
  chitra/__init__.py
  chitra/coordinates.py
Labels: CI

reformat
  Makefile
  chitra/coordinates.py
  examples/nbs/01_image.ipynb
  examples/nbs/02_datagenerator.ipynb
  examples/nbs/03_trainer.ipynb
  examples/nbs/04_dataloader.ipynb
  examples/nbs/05_visualization.ipynb
  examples/nbs/06_tf_utils.ipynb
  examples/nbs/07_import_utils.ipynb
  examples/nbs/08_model_converter.ipynb
  examples/nbs/09_chalice.ipynb
  examples/nbs/example_01.ipynb
  examples/nbs/image-classification-example.ipynb
  examples/nbs/index.ipynb
Labels: none

remove core
  mkdocs.yml
Labels: CI

fix imgaug dependencies (#143)
  .github/workflows/mkdocs_ci.yml
  Makefile
  chitra/__init__.py
  chitra/coordinates.py
  examples/nbs/01_image.ipynb
  examples/nbs/02_datagenerator.ipynb
  examples/nbs/03_trainer.ipynb
  examples/nbs/04_dataloader.ipynb
  examples/nbs/05_visualization.ipynb
  examples/nbs/06_tf_utils.ipynb
  examples/nbs/07_import_utils.ipynb
  examples/nbs/08_model_converter.ipynb
  examples/nbs/09_chalice.ipynb
  examples/nbs/example_01.ipynb
  examples/nbs/image-classification-example.ipynb
  examples/nbs/index.ipynb
  mkdocs.yml
Labels: CI

fix
  chitra/coordinates.py
  chitra/serve/base.py
Labels: none

optionalise chitra
  chitra/data_processing/default/vision.py
Labels: none

Update index.md
  docs/index.md
Labels: documentation

Update README.md
  README.md
Labels: none

Update docs (#144)
  README.md
  docs/index.md
Labels: documentation

update
  docs/chitra/core.md
  mkdocs.yml
Labels: documentation, CI

update
  docs/404.md
  docs/CNAME
  mkdocs.yml
Labels: documentation, CI

update
  docs/chitra/image.md
Labels: documentation

ping version
  docs/requirements.txt
Labels: documentation

add handler
  docs/requirements.txt
  mkdocs.yml
Labels: documentation, CI

update
  docs/requirements.txt
Labels: documentation

update
  docs/requirements.txt
Labels: documentation

update
  .github/workflows/mkdocs_ci.yml
  docs/requirements.txt
Labels: documentation, CI

fix
  docs/requirements.txt
Labels: documentation

fix
  docs/requirements.txt
  pyproject.toml
Labels: documentation

fix
  chitra/utility/__init__.py
  chitra/visualization/__init__.py
  pyproject.toml
Labels: none

update
  docs/requirements.txt
Labels: documentation

update
  .github/workflows/mkdocs_ci.yml
Labels: CI

fix docs (#145)
  .github/workflows/mkdocs_ci.yml
  chitra/utility/__init__.py
  chitra/visualization/__init__.py
  docs/404.md
  docs/CNAME
  docs/chitra/image.md
  docs/requirements.txt
  mkdocs.yml
Labels: documentation, CI

Update metrics.py
  chitra/visualization/metrics.py
Labels: none

add batchify
  chitra/data_processing/processor.py
Labels: none

Update test_processor.py
  tests/data_processing/test_processor.py
Labels: test

Update __init__.py
  chitra/data_processing/__init__.py
Labels: none

add batchify (#147)
  chitra/data_processing/__init__.py
  chitra/data_processing/processor.py
  tests/data_processing/test_processor.py
Labels: test

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Labels: documentation

remove mkdocs from github
  .github/workflows/mkdocs_ci.yml.off
Labels: CI

pip-compile
  docs/requirements.in
  docs/requirements.txt
Labels: documentation

fixes
  docs/requirements.in
  docs/requirements.txt
Labels: documentation

Pip compile docs/requirements.txt (#149)
  .github/workflows/mkdocs_ci.yml.off
  docs/requirements.in
  docs/requirements.txt
Labels: documentation, CI

sync-fixes
  docs/requirements.in
Labels: documentation

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Labels: documentation

sync-fixes (#150)
  docs/requirements.in
Labels: documentation

add default extensions
  chitra/dataloader.py
Labels: none

fix
  chitra/dataloader.py
Labels: none

add default extensions (#153)
  chitra/dataloader.py
Labels: none

fixes
  chitra/dataloader.py
Labels: none
