Repository aniketmaurya/chitra, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, test, serve, cli, CI

.github/labeler.yml:

# Add 'docs' to any changes within 'docs' folder or any subfolders
# https://stackoverflow.com/questions/34691809/regex-match-folder-and-all-subfolders
documentation:
- docs/**/*

example:
- examples($|/.*)

test:
- tests/**/*

serve:
- chitra/serve($|/.*)

cli:
- chitra/cli($|/.*)

CI:
- .github/**/*
- "*.yaml"
- "*.yml"

fixes
  chitra/dataloader.py
Labels: none

format
  chitra/dataloader.py
Labels: none

fixes
  chitra/dataloader.py
Labels: none

fixes
  chitra/dataloader.py
  tests/test_dataloader.py
Labels: test

fixes (#154)
  chitra/dataloader.py
  tests/test_dataloader.py
Labels: test

revert fixes
  chitra/dataloader.py
  tests/test_dataloader.py
Labels: test

revert fixes (#155)
  chitra/dataloader.py
  tests/test_dataloader.py
Labels: test

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Labels: documentation

fixes
  chitra/visualization/metrics.py
Labels: none

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Labels: documentation

Trim down source distribution filezise (#160)
  MANIFEST.in
Labels: none

fix: docs/requirements.txt to reduce vulnerabilities (#159)
  docs/requirements.txt
Labels: documentation

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Labels: documentation

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Labels: documentation

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Labels: documentation

Fix bug
  chitra/coordinates.py
Labels: none

refactor
  chitra/coordinates.py
  chitra/image/image.py
Labels: none

update
  pyproject.toml
Labels: none

fix
  chitra/coordinates.py
Labels: none

refactor Chitra class (#165)
  chitra/coordinates.py
  chitra/image/image.py
  pyproject.toml
Labels: none

fix: docs/requirements.txt to reduce vulnerabilities (#161)
  docs/requirements.txt
Labels: documentation

fix: docs/requirements.txt to reduce vulnerabilities (#162)
  docs/requirements.txt
Labels: documentation

Update FUNDING.yml
  .github/FUNDING.yml
Labels: CI

Update README.md
  README.md
Labels: none

remove sonar
  README.md
Labels: none
